{{ "App ID:" | faint }} {{ .AppID }}
{{ "Store Page:" | faint }} {{ .GetStorePage }}
{{ "Install Directory:" | faint }} {{ .InstallDirectory }}
{{ if .ProtonPrefix -}}
  {{ "Proton Prefix:" | faint }} {{ .ProtonPrefix }}
{{ end }}